---
import { ViewTransitions } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";

const { title, description, url } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Js Park" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="JavaScript, HTML, CSS, React, TypeScript, Remix, Astro, Vite"
    />
    <meta name="image" content="/og.png" />
    <title>{title}</title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content="/og.png" />
    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:site" content="@jsparkdev" />
    <meta name="twitter:creator" content="@jsparkdev" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/tw.png" />
    <meta name="twitter:image:alt" content="Js Park" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={url} />

    <script type="text/partytown" is:inline>
      function speedInsightsBeforeSend(data) {
        console.log("Speed Insights before send", data);
        return data;
      }
    </script>
    <SpeedInsights />

    <ViewTransitions />
  </head>

  <body>
    <slot />
    <style>
      html {
        font-size: 24px;
        line-height: 32px;
      }

      body {
        background-color: #1e1e1e;
        color: #fff;
      }
    </style>
  </body>
</html>
